@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto+Condensed:700');
html, body{height:100%; font-family: 'Overpass', sans-serif; font-size: 16px;}
h1{font-size:36px;}
@media(min-width:768px){h1{font-size:50px;}html, body{font-size: 21px;}}
.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
       overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}
@media(min-width:992px){h1{font-size:42px;}}
.roboto{font-family: 'Roboto Condensed', sans-serif; font-weight:700;}
#header{width:100%; position: relative; margin: 0;height: 100%; }
#header img{height:100%; width: 100%;}
header{background:#101010 url(../images/header-bg.jpg) no-repeat 0 0; background-attachment: fixed;  padding-top:15px; padding-bottom: 15px;}
 a.social-icon{display:inline-block;}
.social-icon i{background-image:url(../images/social-icon.png); background-repeat:no-repeat; width:36px; height:36px; display: block}
.social-icon i.facebook{background-position:0 0}
.social-icon i.instagram{background-position:-37px 0}
.social-icon i.google-map {background-position: -96px 0;}
.mux-logo{position: absolute; bottom:15px; width: 100%; z-index: 3}
@media(min-width:768px){.mux-logo{top:15px;}}
.mux-logo img{width:100px}
@media(min-width:992px){.mux-logo img{width:150px}}
@media(min-width:1600px){.mux-logo img{width:200px}}
#about-mux{background:#fff;}
#about-mux h1{margin-top:0}
#about-mux, #about-isuzu, #features{padding-top:32px; padding-bottom: 32px;}
@media(min-width:768px){#about-mux, #about-isuzu, #features{padding-top:62px; padding-bottom: 62px;} }
@media(min-width:992px){#about-mux{background:#fff url(../images/mux.jpg) no-repeat right bottom; background-position:right center; background-attachment: fixed;}}
.enquiry{padding-top:30px;}
.btn-submit{background:#806142; color:#fff; border-radius: 0; margin-top: 30px;}
.btn-submit:hover, .btn-submit:focus{background:#333; color:#fff;}
#banner{position:relative;}
#banner .isuzu-mux{width:100%;}
#about-isuzu{background:url(../images/about-isuzu.jpg) no-repeat right center; background-attachment: fixed; background-size:cover; color:#fff;}
#features{background-color:#0f0f0f; color:#fff;}
#features img{margin:0 auto}
#features hr{background-color:rgba(255,255,255,.3); border:0; height:1px;}
@media(max-width:480px){.mux-logo img{width:60px;} #features img{width:180px;}}
@media(min-width:992px){.mux-logo img{width:150px}}
@media(min-width:1600px){.mux-logo img{width:200px}}
@media(min-width:768px){#features p{padding-left:100px;}}
.featured-title{text-transform: uppercase; text-align:center}
@media(min-width:768px){.featured-title{text-align:left}}
#features hr{margin-left:-100px;}
@media(min-width:992px){.featured-txt{padding-top:30px;}}
footer{background:#0f0f0f; border-top:3px solid #090806; padding-top:20px; padding-bottom: 22px; color:#bbbbbb; font-size:14px }
footer a{color:#bbbbbb}footer a:hover{color:#fff; text-decoration: none}
.address-col{padding-top:15px; padding-bottom: 15px;}
.address-col address{margin-bottom:10px;}
.error{color:red; font-size:13px;}
#visit{background:url(../images/address-bg.png) repeat 0 0; color:#fff; padding-top:40px; padding-bottom: 30px;}
#visit h3{margin-top:0;}
.address-col{padding-top:15px; padding-bottom: 15px; font-size:14px;}
.address-col address{margin-bottom:10px;}
.address-col a{color:#fff;}.address-col a:hover, .address-col a:active, .address-col a:focus{text-decoration:none}
.arrow{background-image:url(../images/social-icon.png); background-repeat:no-repeat; display: inline-block; width:10px; height: 36px;position: absolute;
    top: 50%; transform: translateY(-50%)}
.arrow-next{background-position:-73px 0; right: -15px}
.arrow-prev{background-position:-84px 0; left:-15px;}
.thanks-wrap{position:absolute;width:75%;left:50%;top:50%;text-align:center;background:rgba(0,0,0,.7);-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);color:#fff;padding:15px;}
@media(min-width:768px){.thanks-wrap{width:50%;}}
.brochure{position:fixed;bottom:2px;right:2px;z-index:1}.brochure a, .video a{display:block;padding:5px 15px;color:#fff;background:#d61619;font-size:14px;}.brochure a:hover{text-decoration: none;background:#ccc; color:#d61619}
.video{position:absolute; bottom:10%; left:15px; z-index: 3}
.video a{border-radius: 15px 0 15px 0;}