@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Overpass|Roboto+Condensed:700');
@media(min-width:1440px){.container{width: 1370px;}}
@media(min-width:1600px){.container{width: 1530px;}}
@media(min-width:1920px){.container{width: 1530px;}}
@media(min-width:2560px){.container{width: 1850px;}}
html, body{height:100%; font-family: 'Overpass', sans-serif; font-size: 16px;}
body#hi{font-size: 15px; line-height: 1.5}
h1{font-size:36px;}
#hi h1{line-height: 1.5}
@media(min-width:768px){h1{font-size:50px;}html, body{font-size: 21px;}}
@media(min-width:768px){#hi h1{font-size:50px;}body#hi {font-size: 18px; line-height: 1.7}}
.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
       overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}
.top-info .list-inline{margin-bottom: 0}
.top-info .list-inline li.lang{vertical-align: top; font-size: 14px; padding-top: 10px; padding-left: 15px;}
.top-info .list-inline li.lang a{color:#888888}
.top-info .list-inline li.lang a:hover, .top-info .list-inline li.lang a:active, .top-info .list-inline li.lang a:focus{color:#d61619}
@media(min-width:992px){h1{font-size:42px;}}
.roboto{font-family: 'Roboto Condensed', sans-serif; font-weight:700;}
#header{width:100%; position: relative; margin: 0;height: 100%; }
#header img{height:100%; width: 100%;}
header{background:#101010 url(../images/header-bg.jpg) no-repeat 0 0; background-attachment: fixed;  padding-top:15px; padding-bottom: 15px;}
 a.social-icon{display:block;}
.social-icon i{background-image:url(../images/social-icon.png); background-repeat:no-repeat; width:36px; height:36px; display: block}
.social-icon i.facebook{background-position:0 0}
.social-icon i.instagram{background-position:-37px 0}
.social-icon i.google-map {background-position: -96px 0;}
#banner{position:relative}
#banner .main-banner{width:100%;}
.mux-logo{position: absolute; top:15px; width: 100%;}
.mux-logo img{width:100px}
@media(max-width:480px){.mux-logo img{width:60px;} #features img{width:180px;}}
@media(min-width:992px){.mux-logo img{width:150px}}
@media(min-width:1600px){.mux-logo img{width:200px}}
#about-mux{background:#fffff0; }
#about-mux, #about-isuzu, #features{padding-top:32px; padding-bottom: 22px;} 
@media(min-width:768px){#about-mux, #about-isuzu, #features{padding-top:100px; padding-bottom: 100px;} }
@media(min-width:992px){ #about-mux{background:#fffff0  url(../images/scab.jpg) no-repeat right bottom; background-position:right center; background-attachment: fixed;}}
@media(max-width:768px){#about-mux{background-size:40%;}}
.enquiry{padding-top:30px;}
.btn-submit{background:#754440; color:#fff; border-radius: 0; margin-top: 30px;}
.btn-submit:hover, .btn-submit:focus{background:#333; color:#fff;}
#about-isuzu{background:#7c0305;color:#fff;}
@media(min-width:768px){#about-isuzu{background:#7c0305 url(../images/about-isuzu.jpg) no-repeat left center; background-attachment: fixed; background-size:cover; }}
#features{background-color:#0f0f0f; color:#fff;}
#features img{margin:0 auto}
#features hr{background-color:rgba(255,255,255,.3); border:0; height:1px;}
@media(min-width:768px){#features p{padding-left:100px;}.featured-title{text-align:left}}
.featured-title{text-transform: uppercase; text-align:center}
#features hr{margin-left:-100px;}
@media(min-width:992px){.featured-txt{padding-top:30px;}}
#visit{background:url(../images/address-bg.png) repeat 0 0; color:#fff; padding-top:40px; padding-bottom: 30px;}
footer{background:#0f0f0f; border-top:3px solid #090806; padding-top:20px; padding-bottom: 22px; color:#bbbbbb; font-size:14px }
footer a{color:#bbbbbb}footer a:hover{color:#fff; text-decoration: none}
#visit h3{margin-top:0}
.address-col{padding-top:15px; padding-bottom: 15px; font-size:14px;}
.address-col address{margin-bottom:10px;}
.address-col a{color:#fff;}.address-col a:hover, .address-col a:active, .address-col a:focus{text-decoration:none}
.arrow{background-image:url(../images/social-icon.png); background-repeat:no-repeat; display: inline-block; width:10px; height: 36px;position: absolute;
    top: 50%; transform: translateY(-50%)}
.arrow-next{background-position:-73px 0; right: -15px}
.arrow-prev{background-position:-84px 0; left:-15px;}
@media(min-width:768px){.arrow-next{right:-30px}.arrow-prev{left:-30px}}
.thanks-wrap{position:absolute;width:75%;left:50%;top:50%;text-align:center;background:rgba(0,0,0,.7);-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);color:#fff;padding:15px;}
@media(min-width:768px){.thanks-wrap{width:50%;}}
.error{font-size:13px; color:#ff0000;}
.brochure{position:fixed;bottom:2px;right:2px;z-index:1}.brochure a{display:block;padding:5px 15px;color:#fff;background:#d61619;font-size:14px;}.brochure a:hover{text-decoration: none;background:#ccc; color:#d61619}
@media(max-width:480px){.thanks-wrap h2{font-size:24px}}
@media(min-width:768px){#hi .thanks-wrap p{font-size:23px;}}
@media(min-width:1400px){#hi .thanks-wrap h2{font-size:30px} #hi .thanks-wrap p{font-size:23px;}}
@media(min-width:1600px){#hi .thanks-wrap h2{font-size:42px} #hi .thanks-wrap p{font-size:32px;}}